{% extends 'base.html' %}

{% block title %}Accueil - MonSite{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/driveChoice.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/ChartPureData.js') }}"></script>

<div class="drive-container">
    <h2>Sélection du Drive</h2>
    <p>Afin de pouvoir échantilloner, il faut choisir le drive qu'on souhaite analyser.</p>
    <select id="drivesSelect" onchange="updateDrive(this.value)">
        <option value="">Sélectionnez un drive...</option>
    </select>
    <div id="statusMessage"></div>
</div>

<!-- Container du graphique -->
<div class="chart-container">
    <canvas id="myChart"></canvas>
</div>
{% endblock %}