<nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(135deg, #91F0FF 0%, #002B49 100%);">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold fs-3 text-white" href="/sample-web">
            <i class="fas fa-cube me-2"></i>Smart Check Sizing
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ms-auto">
                <a class="nav-link px-4 py-2 mx-1 rounded-pill hover-overlay text-white fs-5" href="/sample-web">
                    <i class="fas fa-home me-1"></i>Accueil
                </a>
                <a class="nav-link px-4 py-2 mx-1 rounded-pill hover-overlay text-white fs-5" href="/sample-web/working-point">
                    <i class="fas fa-file-alt me-1"></i>Working-point
                </a>
                <a class="nav-link px-4 py-2 mx-1 rounded-pill hover-overlay text-white fs-5" href="/sample-web/mecanique">
                    <i class="fas fa-chart-line me-1"></i>Mécanique
                </a>
            </div>
        </div>
    </div>
</nav>