{% extends 'base.html' %}

{% block content %}

<div class="container-fluid h-100 mt-4">
    <div class="row h-100">
        <!-- Premier texte -->
        <div class="col-6">
            <div class="card h-100">
                <div class="card-body">
                    <h2>Lorem ipsum 1</h2>
                    <p>Et possimus aliquam eum voluptate possimus est inventore labore ut atque aliquid qui soluta aperiam. Quo ipsum sunt qui tempora quia et optio exercitationem id omnis minus sit error vitae vel quae quaerat.</p>
                </div>
            </div>
        </div>

        <!-- Deuxième texte -->
        <div class="col-6">
            <div class="card h-100 ">
                <div class="card-body">
                    <h2>Lorem ipsum 2</h2>
                    <p>Et possimus aliquam eum voluptate possimus est inventore labore ut atque aliquid qui soluta aperiam. Quo ipsum sunt qui tempora quia et optio exercitationem id omnis minus sit error vitae vel quae quaerat.</p>
                </div>
            </div>
        </div>

            <!-- Espacement -->
        <div style="height: 20px;"></div>

        <!-- troisième texte -->
        <div class="col-6">
            <div class="card h-100 ">
                <div class="card-body">
                    <h2>Lorem ipsum 3</h2>
                    <p>Et possimus aliquam eum voluptate possimus est inventore labore ut atque aliquid qui soluta aperiam. Quo ipsum sunt qui tempora quia et optio exercitationem id omnis minus sit error vitae vel quae quaerat.</p>
                </div>
            </div>
        </div>

        <!-- quatrième texte -->
        <div class="col-6">
            <div class="card h-100 ">
                <div class="card-body">
                    <h2>Lorem ipsum 4</h2>
                    <p>Et possimus aliquam eum voluptate possimus est inventore labore ut atque aliquid qui soluta aperiam. Quo ipsum sunt qui tempora quia et optio exercitationem id omnis minus sit error vitae vel quae quaerat.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}