{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/scalling.css') }}">

<div class="page-container">
    <div class="image-container">
        <img src="{{ url_for('static', filename='image/scalling.png') }}" alt="Scaling">
    </div>
    
    <div class="card"> 
        <div class="card-body"> 
            <h5 class="card-title">Facteurs globaux</h5> 
            <p class="card-text">Vous pouvez changer ici les facteurs du couple cerveau entrainement</p> 
            
            <div class="input-group">
                <label for="globalPositionFactor">Position :</label>
                <input type="number" id="globalPositionFactor">
            </div>

            <div class="input-group">
                <label for="globalSpeedFactor">Vitesse :</label>
                <input type="number" id="globalSpeedFactor" >
            </div>

            <div class="input-group">
                <label for="globalTorqueFactor">Couple :</label>
                <input type="number" id="globalTorqueFactor">
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/accueil/scalling.js') }}"></script>
{% endblock %}